<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/head.html :: standard-head" />
  <body>
    <a th:if="${privilege.canEditMeetings}" href="/edit">Create new Meeting</a>
    <ul>
      <li th:each="meeting : ${meetings}">
        <div class="d-flex gap-1">
          <span th:text="${meeting.title}"></span>
          <a th:href="${meeting.url}" target="_blank">Open</a>
          <a th:if="${privilege.canEditMeetings}" th:href="|/edit/${meeting.id}|">Edit</a>
          <a th:if="${privilege.canEditMeetings}" th:href="|/delete/${meeting.id}|">Delete</a>
        </div>
      </li>
    </ul>
    <th:block th:include="fragments/script.html :: body-scripts" />
  </body>
</html>
