<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/head.html :: standard-head" />
  <body>
    <input id="locale" type="hidden" th:value="${locale}"/>

    <div class="d-flex gap-2 justify-content-between">
      <th:block th:include="fragments/nav.html :: nav-view" />
      <th:block th:include="fragments/nav.html :: nav-layout" />
    </div>

    <th:block th:include="fragments/meetings.html :: ${layout}(
      create = ${view == 'future' && privilege.canEditMeetings},
      meetings = ${meetings}
    )" />
    <div class="modal fade" id="meeting-details-modal" tabindex="-1"
        aria-labelledby="meeting-details-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content shadow-lg">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="meeting-details-modal-label">
              <span class="visually-hidden" th:text="#{title.modal.prefix}" />
              <span data-details-title></span>
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                th:title="#{button.close}"></button>
          </div>
          <div class="modal-body">
              <span data-details-description></span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="meeting-deletion-modal" tabindex="-1"
        aria-labelledby="meeting-deletion-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content shadow-lg">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="meeting-deletion-modal-label">
              <span th:text="#{modal.deletion.title}" />
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                th:title="#{button.close}"></button>
          </div>
          <div class="modal-body bg-warning-subtle text-warning-emphasis">
            <span data-deletion-text></span>
          </div>
          <div class="modal-footer">
              <a data-deletion-confirm class="btn btn-danger">
                <span class="bi bi-trash" aria-hidden="true"></span>
                <span th:text="#{button.delete}" />
              </a>
              <button class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{button.cancel}" />
          </div>
        </div>
      </div>
    </div>
    <script type="module">
      import JoinApp from "/js/join-app.js";
      import CopyApp from "/js/copy-app.js";
      import DetailsModalApp from "/js/details-modal-app.js";
      import DeletionModalApp from "/js/deletion-modal-app.js";
      import { formatAllDates } from "/js/date-utils.js";

      // Initiate join buttons
      document.querySelectorAll("[data-join-app]").forEach(link => new JoinApp(link));

      // Initiate copy buttons
      document.querySelectorAll("[data-copy-app]").forEach(button => new CopyApp(button));

      // Initiate details modal
      const detailsModal = document.getElementById("meeting-details-modal");
      document.querySelectorAll("[data-details-modal-trigger]")
          .forEach(button => new DetailsModalApp(button, detailsModal));

      // Initiate deletion modal
      const deletionModal = document.getElementById("meeting-deletion-modal");
      document.querySelectorAll("[data-deletion-modal-trigger]")
          .forEach(button => new DeletionModalApp(button, deletionModal));

      // Display dates
      const locale = document.getElementById("locale").value.replace("_","-");
      formatAllDates("data-date", locale);
    </script>
    <th:block th:include="fragments/script.html :: body-scripts" />
  </body>
</html>
