<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/head.html :: standard-head" />
  <body>
    <div id="oauth2-app">
      <input ref="popupUrlInput" type="hidden" th:value="${redirect}" />
      <div v-if="popupBlocked" class="d-flex">
        <div class="alert alert-primary mb-0 rounded-end-0" role="alert">
          <span th:text="#{oauth2.popup-blocked(#{oauth2.retry})}" />
        </div>
        <button v-on:click="launchPopup" class="btn btn-primary rounded-start-0">
          <span th:text="#{oauth2.retry}" />
          <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span>
        </button>
      </div>
      <div v-else class="d-flex">
        <div class="alert alert-primary" role="status">
          <div class="spinner-border spinner-border-sm me-1"></div>
          <span th:text="#{oauth2.waiting}" />
        </div>
      </div>
    </div>
  </body>
  <script type="module">
    import { createApp, ref } from "https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.prod.js"

    const popUpWindowName = "oAuth2Popup";
    const popUpWindowFeatures = "toolbar=no, menubar=no, width=600, height=700, top=100, left=100";

    createApp({
      setup() {
        // Input reference
        const popupUrlInput = ref(null);

        const popupWindow = ref(null);
        const popupBlocked = ref(false);
        const popupCheckInterval = ref (null);

        return {
          popupUrlInput,
          popupBlocked
        }
      },
      computed: {
        popupUrl() {
          return this.popupUrlInput?.value;
        }
      },
      methods: {
        launchPopup() {
          const oauth2Url = this.popupUrlInput?.value;
          if (!oauth2Url) {
            console.error("No oauth2Url. popupUrlInput: ", this.popupUrlInput);
            return;
          }

          this.popupWindow = window.open(oauth2Url, popUpWindowName, popUpWindowFeatures);
          this.checkPopupBlocked(this.popupWindow)
          if (!this.popupBlocked) {
            this.repeatedCheck(true);
          }
        },
        recieveCallbackMessage(messageEvent) {
          this.clearRepeatedCheck();

          const popupLocation = messageEvent.data;

          if(popupLocation.includes("access_denied")) {
            this.accessDenied("callback");
            return;
          }

          window.location.replace(popupLocation);
        },
        checkPopupBlocked(popupWindow) {
          this.popupBlocked = popupWindow == null || popupWindow.closed || typeof popupWindow.closed == "undefined";
        },
        repeatedCheck(isInit) {
          if (isInit) {
            this.clearRepeatedCheck();
            this.popupCheckInterval = setInterval(() => this.repeatedCheck(false), 500);
          }

          if (this.popupWindow?.closed) {
            this.accessDenied("check");
          }
        },
        clearRepeatedCheck() {
          if (this.popupCheckInterval) {
            clearInterval(this.popupCheckInterval);
          }
        },
        accessDenied() {
          window.location.replace("/intercept/oauth2/access-denied");
        }
      },
      mounted() {
        window.addEventListener('message',
            messageEvent => this.recieveCallbackMessage(messageEvent), false);

        this.launchPopup();
      }
    }).mount("#oauth2-app")
  </script>
</html>
