<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="fragments/head.html :: standard-head" />
  <body>
    <div id="oauth2-app">
      <input ref="popupUrlInput" type="hidden" th:value="${redirect}" />
      <div v-if="popupBlocked" class="d-flex mb-2">
        <div class="alert alert-primary mb-0 rounded-end-0" role="alert">
          <span th:text="#{oauth2.popup-blocked(#{oauth2.retry})}" />
        </div>
        <button v-on:click="launchPopup" class="btn btn-primary rounded-start-0">
          <span th:text="#{oauth2.retry}" />
          <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span>
        </button>
      </div>
      <div v-else class="d-flex">
        <div class="alert alert-primary" role="status">
          <div class="spinner-border spinner-border-sm me-1"></div>
          <span th:text="#{oauth2.waiting}" />
        </div>
      </div>
    </div>
    <a class="btn btn-secondary" th:href="${returnUrl}" th:text="#{oauth2.return}" />
    <script type="module">
      import Oauth2App from "/js/oauth2-app.js";

      new Oauth2App(document.getElementById("oauth2-app"));
    </script>
  </body>
</html>
